setuptools==65.5.0
wheel==0.38.4
gym==0.21.0
gym-retro==0.8.0
pyyaml==6.0.1
opencv-python==4.6.0.66
scikit-image==0.19.3
imageio-ffmpeg==0.4.9
torch==2.1.2
torchvision==0.16.2
stable-baselines3==1.8.0
tensorboard==2.14.0
gym-super-mario-bros==7.4.0
nes-py==8.2.1